@page "/InventoryManager"


@using Microsoft.AspNetCore.Authorization

@rendermode InteractiveServer

@using Microsoft.AspNetCore.Identity
@using InventoryApp.Data


@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthStateProvider
@attribute [Authorize]


<PageTitle>Inventory Manager</PageTitle>

<h1><i class="bi bi-box-seam-fill"></i> Inventory Manager</h1>

<div class="row row-cols-auto m-2">
    <div class="col btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-danger" @onclick="DeleteUsers"><i class="bi bi-trash-fill"></i> Delete</button>
    </div>
</div>

<EditForm EditContext="editContext" method="post" OnSubmit="CreateInventory" FormName="login">
<table class="table table-striped-columns m-2">
    <thead class="table-info">
    <tr>
        <td class="col-1"></td>
        <th class="col-3">Owner</th>
        <th class="col-3">Name</th>
        <th class="col-5">Description</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    
    <td class="text-center"><button type="submit" class="btn btn-lg"><i class="bi bi-plus-square-fill"></i></button></td>
    <td></td>
    <td><InputText @bind-Value="Input.Name" id="Input.Email" class="form-control" aria-required="true" placeholder="Name"/></td>
    <td><InputText @bind-Value="Input.Description" id="Input.Description" class="form-control" aria-required="true" placeholder="Description"/></td>
    
    @foreach (var inventory in displayList)
    {
        <tr>
            <td class="text-center">
                <input class="form-check-input"
                       type="checkbox"
                       id="checkboxNoLabel"
                       checked="@selectedInventory.Contains(inventory.ThisInventory)"
                       aria-label="..."
                       @oninput="() => ChangeState(inventory.ThisInventory)"></td>
            <td>@inventory.Owner</td>
            <td><a href="InventoryManager/@inventory.ID">@inventory.Name</a></td>
            <td>@inventory.Description</td>
        </tr>
    }
    </tbody>
</table>
</EditForm>





@code {
    
    private EditContext editContext = default!;
    private readonly ApplicationDbContext _dbContext;
    
    List<Inventory> inventoryList = [];
    List<DisplayModel> displayList = [];
    HashSet<Inventory> selectedInventory = new HashSet<Inventory>();
    
    [SupplyParameterFromForm] private InputModel Input { get; set; } = default!;
    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;

    public InventoryManagerPage(ApplicationDbContext dbContext)
    {
        _dbContext = dbContext;
        
    }
    
    protected override async Task OnInitializedAsync()
    {
        Input ??= new();

        editContext = new EditContext(Input);
        LoadUsers();
    }

    private async Task LoadUsers()
    {
        var x = _dbContext.Inventories;
        inventoryList = x.ToList();
        foreach (var y in inventoryList)
        {
            var owner = await _dbContext.Users.FindAsync(y.OwnerID);
            displayList.Add(new DisplayModel
            {
                ID = y.InventoryID,
                Owner = owner.UserName,
                Name = y.InventoryName,
                Description = y.Description,
                ThisInventory = y
            });
        }
        StateHasChanged();
    }
    
    private void ChangeState(Inventory inventory)
    {
        if (selectedInventory.Contains(inventory))
        {
            selectedInventory.Remove(inventory);
        }
        else
        {
            selectedInventory.Add(inventory);
        }
    }

    public async Task CreateInventory()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var id = user.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
        var name = user.Identity?.Name;
        Console.WriteLine(Input.Name);
        Console.WriteLine(Input.Description);
        _dbContext.Inventories.Add(new Inventory {
            OwnerID = id, 
            InventoryName = Input.Name, 
            Description = Input.Description });
        _dbContext.SaveChanges();
        StateHasChanged();
    }
    
    private void DeleteUsers()
    {
        foreach (var inventory in selectedInventory)
        {
            var u = _dbContext.Inventories.Find(inventory.InventoryID);
            if (u != null)
            {
                
                _dbContext.Inventories.Remove(u);
            }
        }

        _dbContext.SaveChanges();
        selectedInventory.Clear();
        StateHasChanged();
    }

    private sealed class InputModel
    {
        public string Name { get; set; } = "";
        public string Description { get; set; } = "";
    }

    private sealed class DisplayModel
    {
        public Guid? ID { get; set; }
        public string Owner { get; set; } = "";
        public string Name { get; set; } = "";
        public string Description { get; set; } = "";
        public Inventory  ThisInventory { get; set; } = new Inventory();
    }
    
} 