@page "/InventoryManager/{InventoryId}"

@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization

@rendermode InteractiveServer

@using Microsoft.AspNetCore.Identity
@using InventoryApp.Data
@using Microsoft.EntityFrameworkCore
@using Radzen.Blazor

@inject UserManager<ApplicationUser> UserManager
@inject NavigationManager NavManager
@inject AuthenticationStateProvider AuthStateProvider
@inject InventoryPermissionManager PermissionManager

<PageTitle>Inventory</PageTitle>

<div class="card m-2">
    <h5 class="card-header">@_currentInventory.InventoryName</h5>
    <RadzenMarkdown>@_currentInventory.Description</RadzenMarkdown>
</div>

<TabControl>
    <TabPage Text="Items">
        <h1>The second tab</h1>
    </TabPage>
    @if (CanEdit())
    {
        <TabPage Text="Edit">
            <EditTab CurrentInventory= "@_currentInventory"></EditTab>
        </TabPage>
        <TabPage Text="Permissions">
            <PermissionTab CurrentInventory= "@_currentInventory"></PermissionTab>
        </TabPage>
    }
</TabControl>

@code {
    [Parameter]
    public String? InventoryId { get; set; }

    private bool _isOwner = false;
    private bool _isAdmin = false;
    
    private ApplicationUser? _appUser;
    private Inventory _currentInventory = new Inventory();
    private string _permissionString = "";
    
    private readonly ApplicationDbContext _dbContext;
    
    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;

    public InventoryPage(ApplicationDbContext dbContext)
    {
        _dbContext = dbContext;
    }
    
    protected override async Task OnInitializedAsync()
    {
        await LoadInventory();
        await LoadUserData();
    }

    bool CanEdit() => _permissionString == Permissions.Write || _isOwner || _isAdmin;

    private async Task LoadUserData()
    {
        var user = await GetUserClaim();
        _appUser = await UserManager.GetUserAsync(user);
        await LoadUserPermissions(user);
    }

    private async Task<ClaimsPrincipal> GetUserClaim()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        return authState.User;
    }

    private async Task LoadUserPermissions(ClaimsPrincipal user)
    {
        if (_appUser == null) return;
        
        _isOwner = _currentInventory.OwnerID == _appUser.Id;
        
        _permissionString = await PermissionManager.GetPermissionAsync(_currentInventory, user);
        
        var roles = await UserManager.GetRolesAsync(_appUser);
        _isAdmin = roles.Contains(Roles.Admin);
    }
    
    private async Task LoadInventory()
    {
        _currentInventory = await _dbContext.Inventories.FirstOrDefaultAsync(x => x.InventoryID.ToString() == InventoryId);
        if (_currentInventory == null) NavManager.NavigateTo("not-found");
        StateHasChanged();
    }
} 