@rendermode InteractiveServer

@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using InventoryApp.Data
@using Microsoft.EntityFrameworkCore

@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthStateProvider

@attribute [Authorize]

<div class="row row-cols-auto m-2">
    <div class="col btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" @onclick="GivePermission"><i class="bi bi-pencil-fill"></i> Write</button>
        <button type="button" class="btn btn-danger" @onclick="DeletePermission"><i class="bi bi-ban"></i></button>
    </div>
</div>

<RadzenTable>
    <RadzenTableHeader>
        <RadzenTableHeaderRow>
            <RadzenTableHeaderCell class="col-1"></RadzenTableHeaderCell>
            <RadzenTableHeaderCell class="col-2">Name</RadzenTableHeaderCell>
            <RadzenTableHeaderCell class="col-3">Email</RadzenTableHeaderCell>
            <RadzenTableHeaderCell class="col-3">Permission</RadzenTableHeaderCell>
        </RadzenTableHeaderRow>
    </RadzenTableHeader>
    <RadzenTableBody>
        @foreach (var userDataType in _displayList)
        {
            
            <RadzenTableRow>
                <RadzenTableCell class="text-center">
                    <RadzenCheckBox TValue="bool" ValueChanged="() => ChangeState(userDataType.User)" Value="@_selectedUsers.Contains(userDataType.User)" Name="CheckBox2" />
                </RadzenTableCell>
                <RadzenTableCell>@userDataType.UserName</RadzenTableCell>
                <RadzenTableCell>@userDataType.Email</RadzenTableCell>
                <RadzenTableCell>@userDataType.Permission</RadzenTableCell>
            </RadzenTableRow>
        }
    </RadzenTableBody>
</RadzenTable>

@code {

    private readonly ApplicationDbContext _dbContext;
    
    
    [Parameter]
    public Inventory CurrentInventory { get; set; }
    
    private ApplicationUser? _appUser;
    List<ApplicationUser> _usersList = [];
    List<DisplayModel> _displayList = [];
    HashSet<ApplicationUser> _selectedUsers = new HashSet<ApplicationUser>();

    public PermissionTab(ApplicationDbContext dbContext)
    {
        _dbContext = dbContext;
        
    }
    
    protected override async Task OnInitializedAsync()
    {
        var user = await GetUserClaim();
        _appUser = await UserManager.GetUserAsync(user);
        
        await base.OnInitializedAsync();
        await LoadUsers(); 
    }
    
    private async Task<ClaimsPrincipal> GetUserClaim()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        return authState.User;
    }
    
    private async Task LoadUsers()
    {
        ClearState();
        
        _usersList = _dbContext.Users.ToList();

        var permissions = await _dbContext.InventoryPermissions.ToListAsync();
        _displayList = await ToDisplayModelList(permissions);
        
        StateHasChanged();
    }

    private void ClearState()
    {
        _usersList.Clear();
        _displayList.Clear();
    }

    private async Task<List<DisplayModel>> ToDisplayModelList(List<InventoryPermissions> permissions)
    {
        List<DisplayModel> displayList = new List<DisplayModel>();
        foreach (var user in _usersList)
        {
            if (user == _appUser) continue;
            
            var permission = permissions.FirstOrDefault(x => x.Inventory == CurrentInventory && x.User == user);
            var displayPermission = permission == null ? "" : permission.Permission;
            displayList.Add(new DisplayModel
            {
                UserName = user.UserName ?? "",
                Email = user.Email ?? "",
                Permission = displayPermission,
                User = user
            });
        }

        return displayList;
    }
    
    private void ChangeState(ApplicationUser user)
    {
        if (_selectedUsers.Contains(user))
        {
            _selectedUsers.Remove(user);
        }
        else
        {
            _selectedUsers.Add(user);
        }
    }

    private async Task GivePermission()
    {
        var permissions = await _dbContext.InventoryPermissions.ToListAsync();
        
        await ApplyPermisions(permissions);    
        
        await _dbContext.SaveChangesAsync();
        _selectedUsers.Clear();
        await LoadUsers();

        
    }
    
    private async Task ApplyPermisions(List<InventoryPermissions> inventoryPermissionsList)
    {
        foreach (var user in _selectedUsers)
        {
            var permission = inventoryPermissionsList.FirstOrDefault(x => x.Inventory == CurrentInventory && x.User == user);
            if (permission == null)
            {
                await _dbContext.InventoryPermissions.AddAsync(CreateNewPermission(user, Permissions.Write));
            }
            else
            {
                permission.Permission = Permissions.Write;
            }
        }
    }

    private InventoryPermissions CreateNewPermission(ApplicationUser user, string permissionString)
    {
        var permission = new InventoryPermissions
        {
            Inventory =  CurrentInventory,
            User = user,
            Permission = permissionString
        };
        return permission;
    }

    private async Task DeletePermission()
    {
        var permissions = await _dbContext.InventoryPermissions.ToListAsync();
        foreach (var user in _selectedUsers)
        {
            var permission = permissions.FirstOrDefault(x => x.Inventory == CurrentInventory && x.User == user);
            if (permission != null) _dbContext.InventoryPermissions.Remove(permission);
        }
        await _dbContext.SaveChangesAsync();
        _selectedUsers.Clear();
        await LoadUsers();
    }
    
    private sealed class DisplayModel
    {
        public string UserName { get; set; } = "";
        public string Email { get; set; } = "";
        public string Permission { get; set; } = "";
        public ApplicationUser User { get; set; } = new ApplicationUser();
    }
}